name: Build packages

on:
  push:
    branches: [main]

env:
  NIXPKGS_ALLOW_UNFREE: 1

jobs:
  build-packages:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pkg:
          - adept2-runtime
          - waveforms
        nixpkgs_branch:
          - nixos-unstable

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v14
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.4pre20210823_af94b54/install
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Build package ${{ matrix.pkg }}
        run: nix -L build --impure --override-input nixpkgs github:nixos/nixpkgs/${{ matrix.nixpkgs_branch }} .#${{ matrix.pkg }}
